{% extends "base.html.twig" %}

{% block title %}{{ 'app.title' | trans }}{% endblock %}

{% block stylesheets %}
<style>
    body {
        font-family: "Alegreya Sans", sans-serif;
    }
    .maximum {
        font-size: 1.0rem;
    }
    .actual {
        font-size: 1.5rem;
    }
    .free {
        font-size: 1.5rem;
    }
</style>
{% endblock %}

{% block body %}
    <h2 class="maximum">{{ 'maximumCapacity' | trans }}: {{ capacity }}</h2>
    <h2 class="date">{{ 'date' | trans }}: {{ "now"|date('Y-m-d H:i:s', "Europe/Madrid") }}</h2>
    <h2 class="free">{{ 'free' | trans }}: {{ capacity - actualOccupation }}</h2>
    <h2 class="actual">{{ 'occupation' | trans }}: {{ actualOccupation }}</h2>
{% endblock %}